{% extends 'base.html' %}
{% block title %}Add Employee{% endblock %}
{% block content %}

<!--begin::Basic info-->
<div class="card mb-5 mb-xl-10">
<!--begin::Card header-->
<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
    <!--begin::Card title-->
    <div class="card-title m-0">
        <h3 class="fw-bolder m-0 text-dark">Employee Enrollment</h3>
    </div>
    <!--end::Card title-->
</div>
<!--begin::Card header-->
<!--begin::Content-->
<div id="kt_account_profile_details" class="collapse show">
    <!--begin::Form-->
    <form id="kt_account_profile_details_form" class="form" method="post">
        {% csrf_token %}
        <!--begin::Card body-->
        <div class="card-body border-top p-9">
            <!--begin::Input group-->
            <div class="row mb-4">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label required fw-bold fs-7">Name</label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8">
                    <!--begin::Row-->
                    <div class="row">
                        <!--begin::Col-->
                        <div class="col-lg-6 fv-row">
                            <input type="text" name="name"
                                class="form-control form-control-sm form-control-solid mb-3 mb-lg-0"
                                placeholder="Enter Name" required/>
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-lg-6 fv-row">
                            <input type="text" name="id" class="form-control form-control-sm form-control-solid bg-secondary"
                                value="Employee ID: #{{employee_id}}" disabled required>
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-4">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label required fw-bold fs-7">Address</label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 fv-row">
                    <input type="text" name="company" class="form-control form-control-sm form-control-solid"
                        placeholder="Enter Address" required/>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-4">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label fw-bold fs-7">
                    <span class="required">Contact Phone</span>
                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip"
                        title="Phone number must be active"></i>
                </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 fv-row">
                    <input type="number" name="phone" class="form-control form-control-sm form-control-solid"
                        placeholder="Enter Phone Number" required/>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-4">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label fw-bold fs-7">
                    <span class="required">Salary</span>
                </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 fv-row">
                    <input type="number" name="salary" class="form-control form-control-sm form-control-solid"
                        placeholder="Enter Salary" required/>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-4">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label fw-bold fs-7">
                    <span class="required">Designation</span>
                </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 fv-row">
                    <select name="designation" aria-label="Select a Designation" data-control="select2"
                        data-placeholder="Select a Designation..."
                        class="form-select form-select-solid form-select-sm fw-bold" required>
                        <option value="">Select a Designation...</option>
                        <option value="Chief Executive Officer (CEO)">Chief Executive Officer (CEO)</option>
                        <option value="Chief Technology Officer (CTO)">Chief Technology Officer (CTO)</option>
                        <option value="Chief Financial Officer (CFO)">Chief Financial Officer (CFO)</option>
                        <option value="Chief Operating Officer (COO)">Chief Operating Officer (COO)</option>
                        <option value="Vice President of Marketing">Vice President of Marketing</option>
                        <option value="Vice President of Sales">Vice President of Sales</option>
                        <option value="HR Manager">HR Manager</option>
                        <option value="Product Manager">Product Manager</option>
                        <option value="Software Engineer">Software Engineer</option>
                        <option value="Data Scientist">Data Scientist</option>
                        <option value="UI/UX Designer">UI/UX Designer</option>
                        <option value="QA Engineer">QA Engineer</option>
                    </select>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-4">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label required fw-bold fs-7">Short Description</label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 fv-row">
                    <textarea name="short_description" class="form-control form-control-sm form-control-solid"
                        placeholder="Enter a Short Description" rows="4" required></textarea>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Input group-->
            
        </div>
        <!--end::Card body-->
        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
            <!-- <button type="reset" class="btn btn-light btn-active-light-primary me-2">Discard</button> -->
            <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Enroll</button>
        </div>
        <!--end::Actions-->
    </form>
    <!--end::Form-->
</div>
<!--end::Content-->
</div>

{% if error %}
<script>
    Swal.fire({
        icon: 'error',
        title: 'Error',
        text: '{{ error }}',
        confirmButtonText: 'OK'
    });
</script>
{% endif %}

{% if success %}
<script>
    Swal.fire({
        icon: 'success',
        title: 'Success',
        text: '{{ success }}',
        confirmButtonText: 'OK'
    }).then(() => {
            // Redirect to the desired URL after "OK" is clicked
            window.location.href = "{% url 'home' %}";
    });
</script>
{% endif %}

{% endblock %}